.artist-image {
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  opacity: 0.5;
}

.artist-image-overlay {
  position: relative;
  bottom: 260px;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover;
}

.loader {
  height: 50px;
  width: 50px;
  margin: 100px auto 0 auto;
  border: 20px solid $primary-color;
  border-top: 20px solid darken($primary-color, 10%);
  border-radius: 50%;
  animation: spin 2s linear infinite;
  @keyframes spin {
    0% {transform: rotate(0deg)};
    100% {transform: rotate(360deg)};
  }
}

#search-results-list {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  li {
    float: left;
    height: 260px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    margin: 30px 10px 10px 10px;
    background: rgba(245,242,246,0.8);
    &:hover .artist-image-overlay {
      opacity: 0.5;
    }
  }
    h3 {
      margin-bottom: 10px;
      font-size: 1.5rem;
      padding: 8px 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      position: relative;
      bottom: 283px;
      background: #c9c8c9;
      color: $black;
    }
    button {
      position: relative;
      bottom: 565px;
      left: 100px;
      background: rgba(209,209,209,0.8);
      color: $primary-color;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      padding: 3px 8px;
      &:hover, &:focus {
        background: darken($primary-color, 20%);
        color: $white;
        outline: 0;
        border: none;
        transform: scale(1.1);
        transition: background .7s ease-in-out;
        transition: transform .7s ease-in-out;
      }
    }
  }
