.artist-image {
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

#search-results-list, #voted-for-list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  li {
    display: flex;
    width: calc(100% / 3);
    flex-direction: column;
    justify-content: space-between;
    height: 260px;
    padding: 20px;
    box-sizing: border-box;
    h3 {
      margin-bottom: 10px;
      font-size: 1.5rem;
      padding: 8px 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      top: 156px;
      background: rgba(170,70,234,0.8);
      color: $white;
    }
    button {
      position: relative;
      bottom: 72px;
      left: 86%;
      display: block;
      background: rgba(170,70,234,0.8);
      color: $white;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      padding: 10px;
      &:hover, &:focus {
        background: darken($primary-color, 20%);
        outline: 0;
        border: none;
        transform: scale(1.1);
        transition: background .7s ease-in-out;
        transition: transform .7s ease-in-out;
      }
    }
  }
}
