.artist-image {
  float: left;
  height: 150px;
  width: 150px;
  margin-right: 15px;
  background-size: cover;
  background-repeat: no-repeat;
}

#search-results-list {
  width: 70%;
  margin: 0 auto;
  li {
    height: 150px;
    padding-bottom: 10px;
    border-bottom: 1px solid lighten($black, 70%);
    h3 {
      margin-bottom: 10px;
      padding-top: 30px;
      font-size: 2.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    button {
      display: block;
      background: $primary-color;
      color: $white;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      padding: 10px;
      &:hover, &:focus {
        background: darken($primary-color, 20%);
        outline: 0;
        border: none;
        transform: scale(1.1);
        transition: background .7s ease-in-out;
        transition: transform .7s ease-in-out;
      }
    }
  }
}
