.modal-container {
  z-index: 7;
  .modal-content {
    padding: 10px;
    box-sizing: border-box;
  }
  h3 {
    font-size: 2rem;
    margin: 25px;
    text-align: center;
  }
  #close-modal {
    background: none;
    border: none;
    color: $primary-color;
    font-weight: bolder;
    &:hover{
      cursor: pointer;
    }
  }

  img {
    width: 300px;
  }
  .artist-info {
    background: #f6f0fa;
    float: right;
    width: 54%;
    padding: 10px 10px 20px 10px;
    box-sizing: border-box;
    #popularity {
      font-size: 1.3rem;
    }
  }
}


#vote-from-modal {
  width: 300px;
  background: $primary-color;
  color: $white;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  display: inherit;
  margin: 0 auto;
  &:hover {
    background: darken($primary-color, 20%);
    transform: scale(1.05);
    transition: transform .2s ease-in-out;
  }
}
