@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400);
.artist-image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  opacity: 0.5; }

.artist-image-overlay {
  position: relative;
  bottom: 260px;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover; }

.loader {
  height: 50px;
  width: 50px;
  margin: 100px auto 0 auto;
  border: 20px solid #aa46ea;
  border-top: 20px solid #951ae3;
  border-radius: 50%;
  animation: spin 2s linear infinite; }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
#search-results-list {
  width: 98%;
  margin: 0 auto;
  text-align: center; }
  #search-results-list li {
    float: left;
    height: 260px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    margin: 30px 10px 10px 10px;
    background: rgba(245, 242, 246, 0.8); }
    #search-results-list li:hover .artist-image-overlay {
      opacity: 0.5; }
  #search-results-list h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 200;
    padding: 8px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    position: relative;
    bottom: 283px;
    background: #7715b5;
    color: #fff; }
  #search-results-list button {
    position: relative;
    bottom: 565px;
    left: 143px;
    background: rgba(209, 209, 209, 0.8);
    color: #aa46ea;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 3px 8px; }
    #search-results-list button:hover, #search-results-list button:focus {
      background: #7715b5;
      color: #fff;
      outline: 0;
      border: none;
      transform: scale(1.1);
      transition: background .7s ease-in-out;
      transition: transform .7s ease-in-out; }

@media (max-width: 1400px) {
  #search-results-list li button {
    left: 42%; } }
@media (max-width: 1050px) {
  #search-results-list li {
    width: calc(33.33% - 20px); } }
@media (max-width: 800px) {
  #search-results-list li {
    width: calc(50% - 20px); } }
@media (max-width: 550px) {
  #search-results-list li {
    width: calc(100% - 20px); } }
#voted-for-list {
  width: 98%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }
  #voted-for-list .artist-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    opacity: 0.5; }
  #voted-for-list .artist-image-overlay {
    position: relative;
    bottom: 244px;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    border-radius: 50%;
    background-size: cover; }
  #voted-for-list li {
    width: 25%;
    height: 260px;
    padding: 20px;
    box-sizing: border-box; }
    #voted-for-list li h3 {
      margin-bottom: 10px;
      font-size: 1.5rem;
      font-weight: 200;
      padding: 8px 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      position: relative;
      bottom: 264px;
      background: #7715b5;
      color: #fff; }
    #voted-for-list li button {
      position: relative;
      bottom: 556px;
      left: 248px;
      width: 30px;
      display: block;
      background: rgba(209, 209, 209, 0.8);
      color: #aa46ea;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      padding: 10px; }
      #voted-for-list li button:hover, #voted-for-list li button:focus {
        background: #7715b5;
        color: #fff;
        outline: 0;
        border: none;
        transform: scale(1.1);
        transition: background .7s ease-in-out;
        transition: transform .7s ease-in-out; }

header {
  background: #aa46ea;
  padding: 120px 20px 150px 20px; }
  header h1 {
    margin: 0;
    color: #fff;
    font-size: 5rem;
    text-align: center;
    font-weight: 300; }

.search-form {
  text-align: center; }
  .search-form #search-input {
    width: 75%;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 0.5px;
    line-height: 2rem;
    background: #9f2fe7;
    border: none;
    border-radius: 10px;
    padding: 10px 5px 10px 15px;
    color: #fff; }
    .search-form #search-input::-webkit-input-placeholder {
      color: #fff; }
    .search-form #search-input:focus, .search-form #search-input:hover {
      background: #7715b5;
      transition: background .7s; }
  .search-form #submit-search {
    width: 75px;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 12px 0px;
    margin-left: 10px; }
    .search-form #submit-search:hover {
      background: #7715b5;
      border-radius: 10px;
      transition: background .7s; }

nav {
  background: #9f2fe7;
  padding: 20px 10px; }
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem; }
    nav a i {
      margin-right: 5px; }
    nav a:hover, nav a:focus {
      background: #aa46ea; }
  nav .changing-links {
    display: inline-block;
    float: right; }
  nav #logout-btn {
    color: #fff;
    font-size: 1rem;
    background: none;
    border: none;
    border-radius: 5px; }
    nav #logout-btn:hover, nav #logout-btn:focus {
      background: #aa46ea; }

.login-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #a438e8, #ce94f3); }

.login-form, .signup-form {
  background: none;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 400px;
  margin: 10% auto;
  text-align: center;
  padding-bottom: 30px; }
  .login-form input, .signup-form input {
    padding: 10px 5px;
    width: 300px;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 5px;
    background: #fff;
    color: #7715b5; }
    .login-form input:hover, .login-form input:focus, .signup-form input:hover, .signup-form input:focus {
      border: 2px solid #7715b5; }
  .login-form input[type="submit"]:hover, .signup-form input[type="submit"]:hover {
    background: #7715b5;
    color: #fff; }
  .login-form h2, .signup-form h2 {
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 20px;
    color: #fff; }
  .login-form p, .signup-form p {
    color: #fff;
    font-weight: bolder; }
  .login-form a, .signup-form a {
    margin-left: 5px;
    color: #fff;
    font-weight: bolder; }
    .login-form a:hover, .signup-form a:hover {
      color: #7715b5; }

.modal-container .modal-content {
  padding: 10px;
  box-sizing: border-box; }
.modal-container h3 {
  font-size: 2rem;
  text-align: center; }
.modal-container img {
  height: 300px; }
.modal-container .artist-info {
  float: right;
  width: 50%; }

body {
  margin: 0;
  font-family: "Josefin Sans", Avenir, sans-serif;
  color: #2D3047; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style-type: none; }

input:hover, input:focus {
  cursor: pointer;
  outline: none;
  border: 2px solid red; }

/*# sourceMappingURL=main.css.map */
